
.hide {
    display: none;
}
.popup{
  top: 50%;
  position: absolute;
  left: 50%;
  min-width: 300px;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    max-width: 380px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transform: translate(-50%, -50%);
    transition: top 0s 0.2s ease-in-out,
                opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;
}
button{
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  border: 2px solid transparent;
  transition: background 0.1s linear, border-color 0.1s linear, color 0.1s linear;
}
.view-modal{
    background-color: #1da4f1;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 2px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.popup :is(header, .icons){
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popup header{
  padding-bottom: 15px;
  border-bottom: 1px solid #ebedf9;
}
header span{
  font-size: 21px;
  font-weight: 600;
}
header .close, .icons a{
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
header .close{
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
}
#ExitBtn{
  color: #878787;
  font-size: 17px;
  background: #f2f3fb;
  height: 33px;
  width: 33px;
  cursor: pointer;
  position: absolute;
  right: 6%;
  align-items: center;
  border-radius: 60%;
  justify-content: center;
}