<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="LoginStyle.css">
    </head>
    <body>
        <div>
            <div class="GreenLine"></div>
            <div class="container"></div>
        </div>
        <div id="Logo">
            <img id="Logo_img" class="img"src="logo.png" />
        </div>

        <div id="h1">
            <p><span>Log in</span></p>
        </div>
        <form action="\alert" method="post" >
            <div id="u12">
                <div id="u12_div" class=""></div>
                <div id="u12_text" class="text">
                    <p><span>Username:</span></p>
                </div>
            </div>
            <div id="Username">
                <div id="Username_div" class=""></div>
                <input id="Username_input" name="name" type="text" value="" />
            </div>
            <div id="u13" class="">
                <div id="u13_div" class=""></div>
                <div id="u13_text" class="text">
                    <p><span>Password:</span></p>
                </div>
            </div>
            <div id="Password">
                <div id="Password_div" class=""></div>
                <input id="Password_input" name="password" type="password" value="" />
            </div>
            <div id="Login" class="Login">
                <div id="Login_div" class=""></div>
                <div id="Login_text" class="text">
                    <input type="submit" name="" value="Log in">
                </div>
            </div>
        </form>
    </body>
    <script>

    </script>
</html>